{% extends 'base.html' %}

{% block content %}

{% for i in results %}

{% if i.id_location|divisibleby:"4" %}
				<article class="one-fourth last">
{% else %}
				<article class="one-fourth">
{% endif %}
					<figure><a href="{% url 'location:detail' i.id_location %}" title=""><img src="{{STATIC_URL}}images/{{i.name}}.jpg" alt="" width="270" height="152" /></a></figure>
					<div class="details">
						<a href="{% url 'location:detail' i.id_location %}" title="Ves Mas" class="gradient-button">Ver Mas</a>
						<h5>{{ i.name }} </h5>
						<!--<span class="count">1529 Hotels</span>-->
						<div class="ribbon">
							<div class="half hotel">
								<a href="{% url 'location:detail' i.id_location %}" title="Ver Mas">
									<span class="small">desde</span>
									<span class="price">&#36; 70</span>
								</a>
							</div>
							<div class="half flight">
								<a href="{% url 'location:detail' i.id_location %}" title="Ver Mas">
									<span class="small">desde</span>
									<span class="price">&#36; 150</span>
								</a>
							</div>
						</div>
					</div>
				</article>
{% endfor %}
{% endblock %}	