<!doctype html>
<!--[if IE 7 ]>    <html class="ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 	 ]>    <html class="ie" lang="en"> <![endif]-->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<html>
<head>
	<meta charset="utf-8">
	<title>Book Your Travel - Location</title>
	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css" media="screen,projection,print" />
	<link rel="stylesheet" href="{{STATIC_URL}}css/prettyPhoto.css" type="text/css" media="screen" />
	<link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico" />
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.10.4.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.10.4.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.10.4.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/sequence.jquery-min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/sequence.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/scripts.js"></script>
</head>
<body>
	<!--header-->
	<header>
		<div class="wrap clearfix">
			<!--logo-->
			<h1 class="logo"><a href="index-2.html" title="Book Your Travel - home"><img src="images/txt/logo.png" alt="Book Your Travel" /></a></h1>
			<!--//logo-->
			
			<!--//ribbon-->
			
			<!--search-->
			<div class="search">
				<form id="search-form" method="get" action="http://www.kajag.com/themes/book_your_travel/search-form">
					<input type="search" placeholder="Search entire site here" name="site_search" id="site_search" /> 
					<input type="submit" id="submit-site-search" value="submit-site-search" name="submit-site-search"/>
				</form>
			</div>
			<!--//search-->
		</div>
		
	</header>
	<!--//header-->
	
	<!--main-->
	<div class="main" role="main">		
		<div class="wrap clearfix">
			<!--main content-->
			<div class="content clearfix">

				<!--three-fourth content-->
				<section class="three-fourth">
				
					<h1>London</h1>
					
					<!--inner navigation-->
					<nav class="inner-nav">
						<ul>
							<li><a href="#general_info" title="General information">General information</a></li>
							<li><a href="#sports_and_nature" title="Sports and nature">Sports and nature</a></li>
							<li><a href="#nightlife" title="Nightlife">Nightlife</a></li>
						</ul>
					</nav>
					<!--//inner navigation-->
					
					<!--General information-->
					<section id="general_info" class="tab-content">
						<article>
							<h1>Arequipa</h1>
							<figure class="left_pic"><img src="{{STATIC_URL}}images/uploads/london1.jpg" alt="Things to do - London general" /></figure>
							<p class="teaser">Arequipa es la capital y mayor ciudad del Departamento de Arequipa, es la sede del Tribunal Constitucional y la «Capital Jurídica del Perú».15 También conocida como la «Ciudad Blanca», es la segunda ciudad del Perú por población, alcanzando el año 2013 los 852 807 habitantes según proyecciones del INEI.16</p>

							<p> Arequipa constituye un importante centro industrial y comercial del Perú17 y gracias a su notable actividad industrial es catalogada como la segunda ciudad más industrializada del país;18 dentro de su actividad industrial destacan los productos manufacturados y la producción textil de lana de camélidos con calidad de exportación; por lo que la ciudad mantiene estrechos vínculos comerciales con Chile, Bolivia y Brasil; vínculos con las ciudades conectadas por medio del Ferrocarril del Sur, así como con el puerto de Matarani. </p>

							<p>La ciudad fue fundada el 15 de agosto de 1540, bajo la denominación de «Villa Hermosa de Nuestra Señora de la Asunta» en nombre del marqués don Francisco Pizarro y el 22 de setiembre de 1541 el monarca Carlos V en Cédula Real ordena que se la llame «Ciudad de Arequipa».</p>
						
							<table>
								<tr>
									<th>Departamente</th>
									<td>Arequipa</td>
								</tr>
								<tr>
									<th>Pais</th>
									<td>Peru</td>
								</tr>
								<tr>
									<th>Area</th>
									<td>2328 msnm</td>
								</tr>
								<tr>
									<th>zona Horaria</th>
									<td>GMT (UTC±0)</td>
								</tr>
								<tr>
									<th>Lenguajes Hablados</th>
									<td>Español</td>
								</tr>
								<tr>
									<th>Moneda</th>
									<td>Nuevo Sol(PE)</td>
								</tr>
								<tr>
									<th>Requerimientos de Visa</th>
									<td>Ninguno</td>
								</tr>
							</table>
						</article>
					</section>
					<!--//General information-->
					
					<!--Sports and nature-->
					<section id="sports_and_nature" class="tab-content">
						<article>
							<h1>Sports and nature</h1>
							<figure class="left_pic"><img src="{{STATIC_URL}}images/uploads/london2.jpg" alt="Things to do - London Sports and nature" /></figure>
							<p class="teaser">El deporte más seguido en Arequipa es el fútbol, este deporte se encuentra representado por el club de fútbol FBC Melgar, que participa en la Primera División del fútbol peruano, y quien fuese en el año 1981 el primer campeón peruano fuera de Lima. </p>

							<p>Entre los escenarios con los que cuenta la ciudad para la práctica de deportes podemos mencionar al Estadio Universidad Nacional San Agustín, el Estadio Mariano Melgar, al Estadio Los Palitos y al Estadio de Umacollo.</p>
						</article>
					</section>
					<!--//Sports and nature-->
					
					<!--Nightlife-->
					<section id="nightlife" class="tab-content">
						<article>
							<h1>Nightlife</h1>
							<figure class="left_pic"><img src="{{STATIC_URL}}images/uploads/london3.jpg" alt="Things to do - London Nightlife" /></figure>
							<p class="teaser">En la ciudad de Arequipa se cuenta con lugares agradables para los turistas ya que se ubica en el centro de la ciudad, donde puede tener todo cerca y poder disfrutar de la vida nocturna de esta ciudad. </p>
						</article>
					</section>
					<!--//Nightlife-->
					
				</section>
				<!--//three-fourth content-->
				
			</div>
			<!--//main content-->
		</div>
	</div>
	<!--//main-->
	
	<!--footer-->
	<footer>
		<div class="wrap clearfix">
			<!--column-->
			<article class="one-fourth">
				<h3>Book Your Travel</h3>
				<p>1400 Pennsylvania Ave. Washington, DC</p>
				<p><em>P:</em> 24/7 customer support: 1-555-555-5555</p>
				<p><em>E:</em> <a href="#" title="booking@mail.com">booking@mail.com</a></p>
			</article>
			<!--//column-->
			
			<!--column-->
			<article class="one-fourth">
				<h3>Customer support</h3>
				<ul>
					<li><a href="#" title="Faq">Faq</a></li>
					<li><a href="#" title="How do I make a reservation?">How do I make a reservation?</a></li>
					<li><a href="#" title="Payment options">Payment options</a></li>
					<li><a href="#" title="Booking tips">Booking tips</a></li>
				</ul>
			</article>
			<!--//column-->
			
			<!--column-->
			<article class="one-fourth">
				<h3>Follow us</h3>
				<ul class="social">
					<li class="facebook"><a href="#" title="facebook">facebook</a></li>
					<li class="youtube"><a href="#" title="youtube">youtube</a></li>
					<li class="rss"><a href="#" title="rss">rss</a></li>
					<li class="linkedin"><a href="#" title="linkedin">linkedin</a></li>
					<li class="googleplus"><a href="#" title="googleplus">googleplus</a></li>
					<li class="twitter"><a href="#" title="twitter">twitter</a></li>
					<li class="vimeo"><a href="#" title="vimeo">vimeo</a></li>
					<li class="pinterest"><a href="#" title="pinterest">pinterest</a></li>
				</ul>
			</article>
			<!--//column-->
			
			<!--column-->
			<article class="one-fourth last">
				<h3>Don’t miss our exclusive offers</h3>
				<form id="newsletter" action="http://www.kajag.com/themes/book_your_travel/newsletter.php" method="post">
					<fieldset>
						<input type="email" id="newsletter_signup" name="newsletter_signup" placeholder="Enter your email here" />
						<input type="submit" id="newsletter_submit" name="newsletter_submit" value="Signup" class="gradient-button" />
					</fieldset>
				</form>
			</article>
			<!--//column-->
			
			<section class="bottom">
				<p class="copy">Copyright 2012 Book your travel ltd. All rights reserved</p>
				<nav>
					<ul>
						<li><a href="#" title="About us">About us</a></li>
						<li><a href="contact.html" title="Contact">Contact</a></li>
						<li><a href="#" title="Partners">Partners</a></li>
						<li><a href="#" title="Customer service">Customer service</a></li>
						<li><a href="#" title="FAQ">FAQ</a></li>
						<li><a href="#" title="Careers">Careers</a></li>
						<li><a href="#" title="Terms & Conditions">Terms &amp; Conditions</a></li>
						<li><a href="#" title="Privacy statement">Privacy statement</a></li>
					</ul>
				</nav>
			</section>
		</div>
	</footer>
	<!--//footer-->
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37606232-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>